<?xml version="1.0" encoding="utf-8" ?>
<configuration>
     <configSections>
     </configSections>
     <appSettings>
      <add key="AFServer" value="VMILIM" />
      <add key="AFDB" value="Koryazhma" />
      <add key="AFTree" value="Контроль" />
      <add key="AFCategoryProductinoUnit" value="Оборудование производящее продукцию" />
      <add key="AFCategoryControl" value="Контроль" />
      <add key="ProductionUnit_Desc" value="Код производственного участка" />
      <add key="AttributeNameForPITag" value="Тэг PI" />
      <add key="MarkType" value="1" />
   </appSettings>
  <connectionStrings>
    <add name="specs" connectionString="Data Source=VMILIM;Initial Catalog=Specs;Persist Security Info=True;User ID=SpecAdmin;password=Indu12soft!" />
  </connectionStrings>
</configuration>